# Dependencies
node_modules/

# Environment
.env
.env.local

# Logs
*.log

# Build
dist/
build/
.next/

# Prisma
prisma/dev.db

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Docker
docker-data/
/generated/prisma
