--
-- PostgreSQL database dump
--

\restrict mtLHGatSQ6PLg5n4R6xyfJm7U6DeI7GFp2bkaCcfbniRHq7dA39wT0qHrOkIJ3g

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: MessageRole; Type: TYPE; Schema: public; Owner: brainos
--

CREATE TYPE public."MessageRole" AS ENUM (
    'USER',
    'ASSISTANT',
    'SYSTEM'
);


ALTER TYPE public."MessageRole" OWNER TO brainos;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Conversation; Type: TABLE; Schema: public; Owner: brainos
--

CREATE TABLE public."Conversation" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."Conversation" OWNER TO brainos;

--
-- Name: Memory; Type: TABLE; Schema: public; Owner: brainos
--

CREATE TABLE public."Memory" (
    id text NOT NULL,
    "userId" text NOT NULL,
    content text NOT NULL,
    importance double precision DEFAULT 0.5 NOT NULL,
    "lastAccessedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."Memory" OWNER TO brainos;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: brainos
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    role public."MessageRole" NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Message" OWNER TO brainos;

--
-- Name: User; Type: TABLE; Schema: public; Owner: brainos
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "clerkId" text NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "firstName" text,
    "imageUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastName" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO brainos;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: brainos
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO brainos;

--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: brainos
--

COPY public."Conversation" (id, "userId", title, "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: Memory; Type: TABLE DATA; Schema: public; Owner: brainos
--

COPY public."Memory" (id, "userId", content, importance, "lastAccessedAt", "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: brainos
--

COPY public."Message" (id, "conversationId", role, content, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: brainos
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: brainos
--



--
-- Name: Conversation Conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_pkey" PRIMARY KEY (id);


--
-- Name: Memory Memory_pkey; Type: CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."Memory"
    ADD CONSTRAINT "Memory_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Conversation_userId_idx; Type: INDEX; Schema: public; Owner: brainos
--

CREATE INDEX "Conversation_userId_idx" ON public."Conversation" USING btree ("userId");


--
-- Name: Memory_userId_idx; Type: INDEX; Schema: public; Owner: brainos
--

CREATE INDEX "Memory_userId_idx" ON public."Memory" USING btree ("userId");


--
-- Name: Message_conversationId_idx; Type: INDEX; Schema: public; Owner: brainos
--

CREATE INDEX "Message_conversationId_idx" ON public."Message" USING btree ("conversationId");


--
-- Name: User_clerkId_key; Type: INDEX; Schema: public; Owner: brainos
--

CREATE UNIQUE INDEX "User_clerkId_key" ON public."User" USING btree ("clerkId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: brainos
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Conversation Conversation_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Memory Memory_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."Memory"
    ADD CONSTRAINT "Memory_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainos
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict mtLHGatSQ6PLg5n4R6xyfJm7U6DeI7GFp2bkaCcfbniRHq7dA39wT0qHrOkIJ3g

